# Dependencies
node_modules/
.expo/
.expo-shared/

# Environment variables
.env
backend/.env

# Build outputs
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# Expo
.expo/

# Backend uploads
backend/uploads/

# TypeScript
*.tsbuildinfo
